/* CSS General */
:root {
  --primary-color: #312e4d;
  --text-color: #2f2e4e;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

#wrapper {
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  display: block;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 993px;
  margin: auto;
  padding: 75px 30px 60px 30px;
}

.shadow-dark {
  box-shadow: 0px 3px 8px 0px #e5e5ef;
}

#wrapper .content .section.active {
  opacity: 1;
  z-index: 100;
}

/* Aside */
#wrapper .aside {
  width: 270px;
  padding: 0px 30px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: 0.3s ease;
}

#wrapper .aside.open {
  left: 0;
}

.nav-toggler {
  position: fixed;
  left: 300px;
  top: 50px;
  z-index: 100;
  cursor: pointer;
  background: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 1px solid #8080803d;
  display: none;
  transition: 0.3s ease;
}

#wrapper .aside .nav-toggler.open {
  left: 300px;
}

.aside a.logo {
  width: 100%;
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 35px;
  padding-top: 60px;
  padding-bottom: 125px;
  cursor: pointer;
  text-decoration: none;
}

.aside a.logo span {
  position: relative;
  padding: 3px 10px;
}

.aside a.logo span::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 4px solid red;
  border-left: 4px solid red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.aside a.logo span::after {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 4px solid red;
  border-right: 4px solid red;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

ul.list-items li i {
  padding-right: 10px;
}

ul.list-items li.active a {
  color: red;
}

ul.list-items li {
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e9deec;
  display: flex;
}

ul.list-items li:hover a {
  color: #ef183a;
  transform: translateX(10px);
}

ul.list-items li a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s ease;
}

p.copyright {
  padding: 70px 0px;
  color: #898788;
  font-size: 13px;
}

/*Content*/

/* Home */
#wrapper .content {
  min-height: 100%;
  display: block;
  position: relative;
  max-width: 100%;
  padding-left: 270px;
  transition: 0.3s ease;
}

#wrapper .content.open {
  padding-left: 270px;
}

#wrapper .content .home .container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#wrapper .content .section {
  max-width: 100%;
  display: block;
  min-height: 100vh;
  background: #f2f2fc;
}

#wrapper .content .home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 500px;
}

#wrapper .content .home img.avatar {
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 3px 8px 0px #e5e5ef;
  padding: 8px;
  background: white;
  margin-bottom: 35px;
  transition: 0.4s ease;
}

#wrapper .content .home img.avatar:hover {
  transform: rotateY(180deg);
}

#wrapper .content .home .name {
  padding-bottom: 20px;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrapper .content .home .title {
  color: #5c587b;
  font-size: 16px;
  padding-bottom: 30px;
}

ul.list-social-media {
  display: flex;
}

ul.list-social-media li a {
  width: 36px;
  height: 36px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease;
}
ul.list-social-media li:hover a {
  transform: scale(1.2);
}

ul.list-social-media li:last-child a {
  margin-right: 0;
}

/* End: Home */

/* About */

h2.title {
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  margin: 0;
  position: relative;
  margin-bottom: 65px;
}

h2.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background: red;
  margin: 0;
}
h2.title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 25px;
  height: 4px;
  background: red;
  margin: 0;
}

h3.intro {
  margin-bottom: 25px;
  font-size: 30px;
  color: var(--text-color);
}

h3.intro span {
  color: red;
}

.desc {
  margin-bottom: 58px;
  color: var(--text-color);
  font-size: 16px;
}

.desc:last-child {
  margin-bottom: 0;
}

.wp-info {
  display: flex;
  margin-bottom: 65px;
}

.wp-info .personal {
  display: flex;
}

.wp-info .personal .info {
  flex-grow: 1;
  padding-right: 25px;
}

.info p {
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7dfec;
  margin-bottom: 15px;
}

.personal .info p:nth-child(4) {
  margin-bottom: 40px;
}

.info p span {
  color: var(--text-color);
  font-weight: 400;
}

button {
  background: #eb1839;
  color: white;
  border: none;
  outline: none;
  padding: 17px 36px;
  border-radius: 35px;
  font-weight: 600;
  transition: 0.3s ease;
  text-transform: capitalize;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

.wp-button .dowload {
  margin-right: 20px;
}

ul.list-skills {
  flex-grow: 1;
  padding-left: 30px;
}

ul.list-skills li {
  padding-left: 35px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

ul.list-skills li::before {
  content: "";
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 0;
}

.history {
  display: flex;
  justify-content: space-between;
}

.education,
.experience {
  width: calc(50% - 15px);
}

h3.title {
  margin-bottom: 50px;
  color: var(--text-color);
}

.wp-process {
  padding: 35px 35px 35px 22px;
  box-shadow: 0px 0px 18px 10px #e8e8f4;
}

.process::before {
  content: "";
  width: 1px;
  height: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.process {
  padding-left: 30px;
  padding-bottom: 60px;
  position: relative;
}

.process:last-child {
  padding-bottom: 0;
}

.process .process-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
}

.process .process-date::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  left: -37.2px;
  z-index: 1;
}

.process .process-date i {
  margin-right: 10px;
}

h4.title {
  margin-bottom: 28px;
  color: var(--text-color);
}

/* Services */
.services .container {
  padding-bottom: 30px;
}

ul.list-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.list-services li {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 20px 35px 20px;
  border: 1px solid #d5d4e4;
  transition: 0.2s ease;
  border-radius: 10px;
}

ul.list-services li i {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  margin: 0px auto 35px auto;
  transition: 0.3s ease;
  border-radius: 50%;
  font-size: 25px;
}

ul.list-services li .service-name {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: capitalize;
}

ul.list-services li:hover {
  box-shadow: 0px 3px 8px 0px #e5e5ef;
}
ul.list-services li:hover i {
  background: red;
  color: white;
  border: 1px solid;
}

/* Portfolio */
.portfolio .container {
  padding-bottom: 30px;
}
.portfolio .wp-btn {
  text-align: center;
}

.portfolio .wp-btn button {
  border: none;
  background: transparent;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 0;
  margin: 0px 11px 40px 11px;
  font-weight: 600;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.portfolio .wp-btn button:focus {
  outline: none;
}

.portfolio .wp-btn button.active {
  color: red;
}

ul.list-pictures {
  display: flex;
  flex-wrap: wrap;
}

ul.list-pictures li {
  flex-basis: 30.33%;
  border: 4px solid white;
  margin-bottom: 30px;
  position: relative;
  margin: 0 auto 30px auto;
}

ul.list-pictures li.show {
  display: block;
  animation: lightBoxImage 0.4s ease;
}

ul.list-pictures li.hide {
  display: none;
}

ul.list-pictures li img {
  width: 100%;
  display: block;
}

ul.list-pictures li .black-block {
  width: 100%;
  height: 100%;
  background: #000000a1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}

ul.list-pictures li h4.portfolio-title {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-30px);
  transition: 0.3s ease;
}

ul.list-pictures li:hover h4.portfolio-title,
ul.list-pictures li:hover .portfolio-search,
ul.list-pictures li:hover .black-block {
  opacity: 1;
  transform: translateX(0);
}

ul.list-pictures li .portfolio-search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: red;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  transform: translateX(30px);
  opacity: 0;
}

/* light-box */
.light-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  /* display: none; */
  transition: 0.3s;
}

.light-box.open {
  display: flex;
  animation: lightBoxImage 0.3s ease;
}

.light-box .light-box-content {
  transition: 0.5s ease;
}

.light-box.open .light-box-content {
  animation: lightBoxImage 0.5s ease;
}

.light-box .light-box-content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 450px;
}

.light-box .light-box-content .wp-info {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

.light-box .light-box-content .box-title {
  text-transform: capitalize;
}

.light-box .light-box-content .exit {
  text-align: right;
  font-size: 25px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.light-box .light-box-control {
  background: white;
  background: greenyellow;
}

.light-box .light-box-control .prev,
.light-box .light-box-control .next {
  cursor: pointer;
  z-index: 100;
  background: white;
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.light-box .light-box-control .prev {
  position: absolute;
  left: 30px;
}

.light-box .light-box-control .next {
  position: absolute;
  right: 30px;
}

.light-box .light-box-control .prev:hover,
.light-box .light-box-control .next:hover {
  transform: scale(1.1);
}

@keyframes lightBoxImage {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Blog */
.blog {
  min-height: 100vh;
}
ul.list-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.list-category li {
  flex-basis: calc(33.33% - 20px);
  border: 1px solid #d5d4e4;
  border-radius: 20px;
  overflow: hidden;
}

ul.list-category li:hover img {
  transform: scale(1.1);
}

ul.list-category li.shadow-dark {
  box-shadow: 0 8px 8px #e5e5ef;
}

ul.list-category li .blog-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}

ul.list-category li .blog-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s ease;
  overflow: hidden;
  display: block;
}

ul.list-category li .blog-img .blog-date {
  width: 95px;
  height: 30px;
  background: red;
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 2;
  font-size: 16px;
  font-weight: 600;
  border-radius: 9px;
  text-align: center;
  line-height: 30px;
}

ul.list-category li .blog-info {
  padding: 0 15px 38px 15px;
}

.blog-info h4.blog-title {
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.blog-info .desc {
  font-size: 16px;
  margin-bottom: 25px;
}

.tags {
  font-size: 16px;
}
.tags span {
  color: red;
}

/* Contact */
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wp-contact {
  display: flex;
  justify-content: space-between;
  padding: 0px 92px;
  margin-bottom: 50px;
}

.wp-contact .contact-item .icon {
  color: red;
  margin-bottom: 32px;
  text-align: center;
  font-size: 35px;
}

.wp-contact .contact-item .contact-title {
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

form.contact-form {
  display: flex;
  flex-wrap: wrap;
}

form.contact-form input,
form.contact-form textarea {
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  border: 1px solid #d3d5e4;
  padding: 18px 0 18px 26px;
}

form.contact-form input {
  display: block;
  margin-bottom: 30px;
}

form.contact-form textarea {
  margin-bottom: 40px;
  width: 100%;
}

form.contact-form input[name="name"],
form.contact-form input[name="email"] {
  flex-basis: calc(50% - 15px);
}

form.contact-form input[name="name"] {
  flex-basis: 46%;
  margin-right: 30px;
}

form.contact-form input[name="subject"] {
  width: 100%;
}

form.contact-form input:focus,
form.contact-form textarea:focus {
  box-shadow: 0 8px 8px #e5e5ef;
}

/* Responsive */
@media screen and (max-width: 1365px) {
  .wp-button .dowload {
    margin-bottom: 25px;
  }
  .info p span {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  ul.list-category li {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  #wrapper .aside {
    left: -270px;
  }

  #wrapper .content {
    padding-left: 0;
  }

  #wrapper .aside .nav-toggler {
    display: flex;
    left: 50px;
  }
}
@media screen and (max-width: 767px) {
  ul.list-services li {
    width: calc(50% - 30px);
  }
  ul.list-category li {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  ul.list-category li:last-child {
    margin-bottom: 0;
  }
  .desc {
    font-size: 14px;
  }

  .wp-info {
    flex-wrap: wrap;
  }

  ul.list-skills {
    padding-left: 0;
  }

  .wp-button {
    font-size: 14px;
  }

  .wp-info .personal {
    flex-wrap: wrap;
  }

  .wp-info .personal .info {
    width: 100%;
    flex-grow: 1;
    padding-right: 25px;
  }

  .history {
    flex-wrap: wrap;
  }

  .education,
  .experience {
    width: 100%;
  }

  h3.title {
    margin-top: 25px;
  }

  button.hire {
    margin-bottom: 25px;
  }

  .portfolio .wp-btn button {
    border-bottom: 0;
  }
  .portfolio .wp-btn button.active {
    border-bottom: 0;
  }

  ul.list-pictures li {
    flex-basis: 100%;
  }

  .wp-contact {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .contact-item {
    margin-bottom: 20px;
  }

  .row {
    flex-wrap: wrap;
  }

  form.contact-form .row input {
    flex-basis: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  ul.list-services li {
    width: 100%;
  }
}

/* loader */
.loader {
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.loader .loader-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.opacity-0 {
  opacity: 0;
}
